.main {
  padding: 80px 0;
}
.content {
  display: flex;
  justify-content: space-around;
}
.content .article {
  flex: 0 0 60%;
  padding-bottom: 80px;
  border-bottom: 1px solid #dedede;
}
.content .article .art-time {
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
}
.content .latest {
  flex: 0 0 30%;
}
.content .latest .lastest-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
}
.content .latest .lastest-title .line {
  padding-bottom: 16px;
  border-bottom: 4px solid #80458E ;
}
.content .latest .lastest-list .latest-item {
  background-color: #FBFBFB;
  padding-bottom: 20px;
}
.content .latest .lastest-list .latest-item-img img {
  width: 100%;
}
.content .latest .lastest-list .latest-item-title {
  font-size: 16px;
  line-height: 27px;
  color: #444;
  padding: 0 20px;
}
.content .latest .lastest-list .latest-item-time {
  color: #848484 ;
  padding: 0 20px;
}
.back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 0 0px 20px;
}
.back .icon-back {
  width: 18px;
  height: 18px;
  background-image: url(../img/prev.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
