.iconfont {
  font-size: 0.5333333333333333rem;
  margin-right: 0.26666666666666666rem;
}

.index {
  width: 100%;
}

.index li {
  height: 3.7333333333333334rem;
  line-height: 3.7333333333333334rem;
  font-size: 0.5333333333333333rem;
}